<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to Sasang, the video chatroom by Chris Dick</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';


        $(document).ready(function(){
          $("#link").attr('value',document.URL);
        })


    </script>


    <script src="{{ url_for('static', filename='js/helloworld.js') }}"></script>
</head>
<body>
    <h2>Oh Hello, World!</h2>

    <div id="publisher"></div>

    <div id="subscribers"></div>

    Share this chatroom!
    <input style= "width: 150px;"  id= "link" type= "text" readonly= "readonly" value="link"/>
</body>
</html>
